Студент Жилкин Федор, 344
# Домашняя работа 5: "Решение краевой задачи для ОДУ второго порядка."
**Задания:**
1. Разностный метод
2. Метод разностной прогонки

$$- \frac{7-x}{8+3x}u^{''}+(1+ \frac{x}{3})u^{'}+(1-\frac{1}{2}e^{\frac{x}{2}})u= \frac{1}{2} - \frac{x}{3}, u(-1)=u(1)=0$$

In [3]:
import numpy as np
import pandas as pd 
import sympy
import matplotlib.pyplot as plt 
from scipy import interpolate

$-p(x)u" + q(x)u' + r(x)u = f(x), y(a) = \alpha, y(b) = \beta$

In [4]:
def f(x):
    return 1/2 - x/3

def r(x):
    return 1 - 1/2*np.exp(x/2)

def q(x):
    return 1 + x/3

def p(x):
    return (7 - x)/(8 + 3*x)

In [5]:
a, b = -1, 1
alpha = beta = 0

Вычисляем коэффициенты для уравнения вида: $$A_iy_{i-1} - B_iy_i + C_iy_{i+1} = G_i$$

In [6]:
def coeffs(h, x):
    
    """
    Вычисляем коэффициенты A, B, C, G
    x -- точка 
    """
    
    A = (-p(x) / h**2) + (-q(x) / 2*h)
    B = -(2*p(x) / h**2 + r(x))
    C = (-p(x) / h**2) + (q(x) / 2*h)
    G = f(x)
    
    return A, B, C, G

In [8]:
def interpolation(x, y):
    """
    Интерполируем по узлам сдвинутой сетки, чтобы получить значения в точках
    основной сетки.
    x -- точки
    y -- значения в точках
    """
    return interpolate.interp1d(x, y)

In [9]:
def difference_method(n):
    
    """
    Решение уравнения разностным методом.
    Аппроксимировать граничные условия будем с порядком O(h^2) 
    n -- кол-во частей в разбиении отрезка
    """
    
    h = (b - a) / n
    x_main = np.arange(a, b + h, h) # Основная сетка, n+1 точка
    x_shifted = np.arange(a - h/2, b + h, h) # Сдвинутая сетка, n+2 точки
    
    M = np.zeros((n+2, n+2)) # Матрица коэффициентов
    for i in range(1, n+1):
        A, B, C, G = coeffs(h, x_shifted[i])
        M[i][i-1] = A
        M[i][i] = -B
        M[i][i+1] = C
    
    # Первый ряд
    B, C = coeffs(h, x_shifted[0])[1], coeffs(h, x_shifted[0])[2]
    M[0][0] = B
    M[0][1] = C
    
    # Последний ряд
    A, B = coeffs(h, x_shifted[n+1])[0], coeffs(h, x_shifted[n+1])[1]
    M[n+1][n+1] = B
    M[n+1][n] = A
    
    # Столбец справа
    G = f(x_shifted)

    # Ответ
    Y = np.linalg.solve(M, G)
    
    return Y, x_shifted

In [10]:
pd.DataFrame(difference_method(10)).round(5)

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.03744,0.05547,0.12825,0.18139,0.21552,0.23125,0.22916,0.20974,0.17341,0.12062,0.05201,-0.03123
1,-1.10000,-0.90000,-0.70000,-0.50000,-0.30000,-0.10000,0.10000,0.30000,0.50000,0.70000,0.90000,1.10000

In [11]:
y, x = difference_method(10)

In [21]:
x = np.insert(x, 1, -1)
y = np.insert(y, 1, 0)

x = np.insert(x, -1, -1)
y = np.insert(y, -1, 0)

In [22]:
inter = interpolation(x, y)

In [24]:
def test_difference():
    
    """
    Тестирование разностного метода
    """

array(0.01039284)

In [287]:
z = [1, 2, 3]

In [288]:
z.insert(1, 4)

In [294]:
np.insert([1, 2, 3], -1, 1)

array([1, 2, 1, 3])

In [311]:
m = np.zeros(4)

In [318]:
m[0] = 0.8

In [319]:
m

array([0.8, 0. , 0. , 0. ])